<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Order List</title>
</head>
<body>

<h1>Orders:</h1>

<table>
  <tr>
    <th>Order ID</th>
    <th>User</th>
    <th>Items</th>
    <th>Total Price</th>
  </tr>
  <tr th:each="order : ${orders}">
    <td th:text="${order.id}"></td>
    <td th:text="${order.user.name}"></td>
    <td>
      <ul>
        <li th:each="item : ${order.items}">
          <span th:text="${item.product.name}"></span> -
          <span th:text="${item.quantity}"></span>
        </li>
      </ul>
    </td>
   <td th:text="${#numbers.formatDecimal(order.totalPrice, 1, 2)}"></td>
  </tr>
</table>

</body>
</html>
